@model PraticalTest.Models.ContatosViewModel


@{
    ViewBag.Title = "Contatos";

}

<div id="contatos">
    <section id="contatos_cabecalho">
        <h1>
            @ViewBag.Title
        </h1>

    </section>
    <section id="contatos_conteudo">

        <div id="cabecalho_grid" class="row">

            @using (Html.BeginForm("Contatos", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Get, new { @clas = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-dager" })
                <div class="form-group">
                    @Html.Label("Name")
                    <div class="cod-md-10">
                        @Html.TextBox("Name")
                        @Html.ValidationMessage("Name")
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("CityId")
                    <div class="cod-md-2">
                        @Html.DropDownListFor(m => m.City, new SelectList(this.Model.City, "ID", "Name"), "Select the subject", new { @id = "cityDropList" })
            
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.Label("GenderId")
                    <div class="cod-md-2">
                        @Html.DropDownListFor(m => m.Gender, new SelectList(this.Model.Gender, "ID", "Name"), "Select the subject", new { @id = "cityDropList" })
                    </div>
                </div>
                
                <div class="form-group">
                    @Html.Label("RegionId")
                    <div class="cod-md-10">
                        @Html.DropDownListFor(m => m.Region, new SelectList(this.Model.Region, "ID", "Name"), "Select the subject", new { @id = "cityDropList" })
             
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("LastPurchaseIni")
                    <div class="cod-md-2">
                        @Html.TextBox("LastPurchaseIni")
                        @Html.ValidationMessage("LastPurchaseIni")
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("LastPurchaseFim")
                    <div class="cod-md-10">
                        @Html.TextBox("LastPurchaseFim")
                        @Html.ValidationMessage("LastPurchaseFim")
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("ClassificationId")
                    <div class="cod-md-10">
                        @Html.DropDownListFor(m => m.Classification, new SelectList(this.Model.Classification, "ID", "Name"), "Select the subject", new { @id = "cityDropList" })
             
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("SellerId")
                    <div class="cod-md-10">
                        @Html.DropDownListFor(m => m.Seller, new SelectList(this.Model.Seller, "ID", "Name"), "Select the subject", new { @id = "cityDropList" })
       
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <input type="submit" class="btn btn-success" value="Entrar" />

                    </div>

                </div>
                
            }

            <a id="btn_pesquisar" class="btn btn-success" role="button"><i class="glyphicon glyphicon-plus"> Pesquisar</i></a>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="grid_contatos" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Classification</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Gender</th>
                            <th>City</th>
                            <th>Region</th>
                            <th>Last Phurcase</th>
                            <th>Seller</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Contatos)
                        {
                            <tr>
                                <th>@item.ClassificationId</th>
                                <th>@item.Name</th>
                                <th>@item.Phone</th>
                                <th>@item.GenderId</th>
                                <th>@item.CityId</th>
                                <th>@item.RegionId</th>
                                <th>@item.LastPurchase</th>
                                <th>Vendedor</th>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

        </div>


    </section>
</div>

@section Scripts{
    <script>

        $(document).on('click', '#btn_pesquisar', function () {

        }
    </script>
}